In [22]:
age = 100
# jika age > 10 dan <= 17 => ABG
# jika age <= 10 => Anak Anak
# jika age > 17 => Dewasa

In [23]:
# dia tidak cukup efficient
if age <= 10:
    print("Anak-anak")

if age > 10 and age <= 17:
    print("ABG")

if age > 17:
    print("Dewasa")

Dewasa

In [24]:
# jika age adalah nilai dalam [10, 20, 30, 40]
# maka dia berhak untuk mendapatkan hadiah
arr_age = [10, 20, 30, 40, 50]
if age in arr_age:
    print("Berhak mendapatkan hadiah")

In [25]:
# cukup efficient
if age <= 10:
    print("Anak-anak")
elif age > 10 and age <= 17:
    print("ABG")
else:
    print("Dewasa")

Dewasa

In [26]:
# one line condition
if age == 100: print("Legend")

Legend

In [32]:
if age == 100: print("Legend");print("Legend 2");print("Legend 3")

Legend
Legend 2
Legend 3

In [34]:
# multiple condition 
# but want to code in one line
if age <= 10: print("Anak-anak")
elif age > 10 and age <= 17: print("ABG")
else: print("Dewasa")

Dewasa

In [38]:
# Ternary Condition
var_1 = True if age == 100 else False
print(var_1)

True

In [39]:
# Option 1 jika tidak menggunakan ternary
var_1 = False
if age == 100:
    var_1 = True

# Option 2
if age == 100:
    var_1 = True
else:
    var_1 = False

# If di dalam if?
# Nested Condition
gender = "MALE"
if age > 17:
    if gender == "MALE":
        print("GOOD")

GOOD

In [43]:
# Apakah bisa nested ternary condition?
x = 18
color = "RED" if x <= 10 else "GREEN" if x>10 and x <= 17 else "BLUE"
print(color)

BLUE

In [47]:
# membuat code dengan TDD (test driven development)
if color == "RED":
    # no idea to do
    pass

In [1]:
# While Loop
counter = 0
while counter < 10:
    print(counter)
    # memanipulasi counter
    counter += 1

0
1
2
3
4
5
6
7
8
9

In [5]:
# Break and Continue function
# Break => akan memaksa keluar dari looping
# Continue => melanjutkan iterasi berikutnya dan skip process dibawahnya
counter = 0
while counter < 10:
    counter+=1
    if counter % 5 == 0:
        print("Continue")
        continue
    if counter + 2 >= 100:
        print("Break")
        break
    print(counter)
else:
    print("Else from while loop")
# else hanya dijalankan ketika while / iterasi berhenti dari kondisinya
# bukan dari BREAK

1
2
3
4
Continue
6
7
8
9
Continue
Else from while loop

In [6]:
# Infinite loop
# while True:
    # inifinte process
    # harus ada kondisi keluar (invalid)

In [1]:
# sama seperti condition
i = 0
while i < 10:
    j = 0
    while j < 10:
        print(i, j)
        j += 1
    i += 1

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [3]:
# one line while loops
n = 5
while n < 10: n += 1; print(n)

6
7
8
9
10

In [6]:
# for loop

# 10.times => Ruby

# for i = 0 to 10: => Pascal
#     print(i)

In [9]:
# for (i = 0; i < 100; i +=1): => CPP / Go / JS
#     print(i)

In [17]:
# menggunakan range
print(type(range(10)))
for i in range(10):
    print(i)
# menggunakan list
arr_1 = [1,2,3,4]
for i in arr_1:
    print(i)
# iterate dict
dict_1 = {"k":"v", "k2":"v2", "k3":"v3"}
for i in dict_1:
    print(i)
# tuple
tup_1 = (1,2,3,4,5,6)
for i in tup_1:
    print(i)

<class 'range'>
0
1
2
3
4
5
6
7
8
9
1
2
3
4
k
k2
k3
1
2
3
4
5
6

In [23]:
# sama seperti while
# kita bisa menambahkan break / continue / else
# pada for loop
for i in range(100):
    if i % 5 == 0:
        print("continue")
        continue
    if i + 20 > 870:
        print("break")
        break
    print(i)
else:
    print("end of for loop")

continue
1
2
3
4
continue
6
7
8
9
continue
11
12
13
14
continue
16
17
18
19
continue
21
22
23
24
continue
26
27
28
29
continue
31
32
33
34
continue
36
37
38
39
continue
41
42
43
44
continue
46
47
48
49
continue
51
52
53
54
continue
56
57
58
59
continue
61
62
63
64
continue
66
67
68
69
continue
71
72
73
74
continue
76
77
78
79
continue
81
82
83
84
continue
86
87
88
89
continue
91
92
93
94
continue
96
97
98
99
end of for loop

In [27]:
# Challenge 1: Grouping List
# Pisahkan list berikut dengan mengelompokkan berdasarkan:
# 1. ganjil
# 2. genap
# 3. habis dibagi 7
# 4. Break ketika ada angka negative
# my_list = [1, 2, 3, 4, 5, 6, 7, 100, 110, 21, 33, 32, 2, 4]

In [ ]:
# Challenge 2: Cummulative Sum
# buatlah program untuk menghitung sum dari suatu list
# e.g. list = [1,2,3,4,5]
# result = [1, 3, 6, 10, 15, dst]

# my_list = [1, 2, 3, 4, 5, 6, 7, 100, 110, 21, 33, 32, 2, 4]

In [29]:
for i in [5,4,3,2,1]: print(i);print(i+1)

5
6
4
5
3
4
2
3
1
2

In [32]:
arr_2 = [a ** 2 for a in [2,3,4]]
print(arr_2)

[4, 9, 16]

In [33]:
arr_3 = [a ** 2 for a in [2,3,4] if a % 2 == 0]
print(arr_3)

[4, 16]